:root {
    --blue: #3F9692;
    --lightblue: #4CB5B0;
    --darkblue: #0C3D74;
    --pnk: #C61589;
    --orange: #DD4600;
    --linkedin: #166D98;
    --yt: #E41E10;
    --fb: #395EA1;
    --tw: #38A8E3;
    --msg: #4BAD4E;
}